<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>New offer</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/places/offers/"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button (click)="onCreateOffer()" [disabled]="form.invalid">
        <ion-icon name="checkmark" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">New offer</ion-title>
    </ion-toolbar>
  </ion-header>
  <app-offer-form [form]="form"></app-offer-form>
</ion-content>
