<ng-container *ngIf="place$|async as place">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="places/offers"></ion-back-button>
      </ion-buttons>
      <ion-title>{{place.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{place.title}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-button
      class="ion-margin"
      color="primary"
      [routerLink]="['/','places','offers','edit-offer', place.id]"
      >Edit</ion-button
    >
  </ion-content>
</ng-container>
